.footer__copyright {
  color: var(--color__gray);
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .footer__copyright {
    font-size: 14px;
  }
}
