.popup__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 0 9px;
  outline: none;
}

.popup__input:focus {
  border-bottom-color: var(--color__black);
}
