.cards__img {
  display: block;
  max-width: 100%;
  min-height: 282px;
  max-height: 282px;
  object-fit: cover;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
