.popup__container {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 550px) {
  .popup__container {
    padding: 48px 0;
  }
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .popup__container {
    max-width: 282px;
    padding: 36px 0;
  }
}
