.popup__button_disabled {
  border: 1px solid var(--color__black);
  color: var(--color__black);
  background: var(--color__white);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.2;
}
