.auth__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  padding: 0 0 9px;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: var(--color__white);
  outline: none;
}

.auth__input:focus {
  border-bottom-color: var(--color__white);
}
